
th {
    background-color: #9370DB;
    text-align: center;
    width: 10%;
    border: 1px solid black;
    height: 20px;
	font-family: 'Kanit', sans-serif;
}
td {
    text-align:center;
    width:12%;
	border: 1px solid black;
    background-color: White;
	font-family: 'Kanit', sans-serif;
}
.body {
	font-family: 'Kanit', sans-serif;
    background-color: #White;
	
}
table.edit {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
	font-family: 'Kanit', sans-serif;
}
.navbar{
	background-color: #White;
	font-family: 'Kanit', sans-serif;
	
}
.container{
	width: 80%;
	font-family: 'Kanit', sans-serif;
}

.member{
	font-family: 'Kanit', sans-serif;
}
h1 {
	font-family: 'Kanit', sans-serif;

}